<mat-select [(ngModel)]="selectedProduct" placeholder="wybierz produkt" (ngModelChange)="changeProd()">
    <mat-option *ngFor="let product of products" [value]="product">
        {{product.name}}
        <span *ngFor="let attr of product.attributes">{{attr.name}}</span>
    </mat-option>
</mat-select>

<div *ngFor="let attr of fridge.attribute_values">
    <span *ngIf="attr.attribute">{{attr.attribute.name}}</span>
    <input type="number" [(ngModel)]="value"/>{{attr.value}}
    <input type="number" [(ngModel)]="criticalValue"/>{{attr.criticalValue}}
</div>
