.text{  
    font-family: 'Heebo', sans-serif;
}

.nav{
    font-size: 2rem;
    background-color: #BFEDEF;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.2);
}

#login{
    align-items: center;
    display: flex;
}

#login-items{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    display: flex;
    left:20%;
    top: 40%;
    width: 25rem;
    gap: 0.5rem;
    z-index: 1;
}

.field-input{
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-bar{
    width: 100%;
    padding: 1rem, 0rem, 1rem, 2rem;
    margin-bottom: 10px;
    border-radius: 2rem;
    border: 1px solid;
    border-color: hsl(0, 0%, 18.82%);   
    padding: 0.5rem 0rem 0.5rem 1.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.search-bar:focus{
    outline-color: #84DCC6;

}

.button{
    width: 12rem;
    height: 3rem;
    background-color: #84DCC6;
    outline-style: none;
    padding: 0.5rem;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    border-style: inherit;
    opacity: 0.7;
    transition: opacity 400ms ease;
    z-index: 1;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.button:hover{
    opacity: 1;
    cursor: pointer;
}


.error-message{
    font-size: 1.5rem;
    background-color: rgb(232, 114, 114);
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 5rem;
    position: absolute;
    top: 10%;
    right: 1%;
}
