<table mat-table [dataSource]="dataSource" multiTemplateDataRows>
    <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef class="th-document"> # </th>
        <td mat-cell *matCellDef="let element; let i=dataIndex"> {{i+1}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class = "th-document"> Nazwa </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions" class="th-document">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
            <button class = "expand-button" mat-icon-button aria-label="expand row"
                (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                <mat-icon class = "arrow" *ngIf="expandedElement !== element" class="color-accent" style="transform: scale(2);">arrow_drop_down</mat-icon>
                <mat-icon class = "arrow" *ngIf="expandedElement === element" class="color-accent" style="transform: scale(2);">arrow_drop_up</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsWithExpand.length">
            <div class="informations" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="col-4">
                        <div class = "attribute" *ngFor="let attr of element.attributes">
                        {{attr.name}}
                    </div>    
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsWithExpand"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumnsWithExpand;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<a class = "link-button" routerLink="add">Dodaj</a>
