.img-cont{
    position: absolute;
    height: 90vh;
    width: 100%;
    background-image: url('/assets/images/lodowka1.png');
    background-repeat: no-repeat;
    background-position: 50% 20%;
    opacity: 0.1;
}

table {
    border-style: solid;
    width: 97%;
    box-shadow: none;
    font-family: 'Anton', sans-serif;
    padding: 1rem 1rem 1rem 1rem;
}

.link-button{
    position: relative;
    top: 2%;
    background-color: rgb(253, 202, 209);
    border-width: 2px;
    border-style: solid;
    padding: 0.5rem 2vw 0.5rem 2vw;
    border-radius: 2rem;
    border-color: rgb(100 100 100);
    color: black;
    text-decoration: none;
    transition: background-color 400ms ease;
}

.link-button:hover{
    background-color: #F5A9B8;
}

tr.example-detail-row {
    height: 0 !important;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.mat-table {
    margin-top: 20px;
    box-shadow: none !important;
}

.expand-button{
    background-color: #F5A9B8;    
    border-color: rgb(100 100 100);
    border-style: solid;
    border-radius: 50%;
    color: white;
    float: right;
}

.arrow{
    margin-top: 100px;
}

.informations {
    overflow: hidden;
    display: flex;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.mat-table-detail {
    overflow: hidden;
    display: flex;
}

.mat-cell {
    font-size: 20px;
}

.th-border {
    color: red !important;
    border: 1px solid green !important;
    font-size: 20px !important;
}

.th-border:first-child {
    border-left: none !important;
}

.th-border:last-child {
    border-right: none !important;
}

.th-padding {
    font-weight: 200 !important;
    padding-left: 24px !important;
}

.td-padding {
    font-weight: 200;
    font-size: 16px;
    padding-left: 24px !important;
}

.th-document {
    color: black;
    font-size: 20px;
    font-weight: 200;
}

.th-mat-header-cell{
    font-size: 50px;
}

.attribute{

    padding: 0rem 1rem 1rem 1rem;
}